<tbody>
    <% data.forEach(function(data){ %>
        <tr>
            <th scope="row"><%= data.id %></th>
            <td><%= data.title %></td>
            <td><%= data.description %></td>
            <td><%= data.image %></td>
            <td><%= data.type %></td>
            <td>
                <a
                    href="/aboutus/<%= data.id %> "
                    class="btn btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#editModal"
                    id="edit-<%=data.id%>"
                    data-id="<%= data.id %>"
                    onclick="getIdEdit(data=<%= data.id %>, 'aboutus')">Edit</a>
                <a
                    href="#"
                    data-method="delete"
                    class="btn btn-danger"
                    onclick="deleteData(<%= data.id %>, 'aboutus')">Delete</a>
            </td>
        </tr>
        <% }); %>
        </tbody>